@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<br />
<br />

<form asp-action="Delete">
  
  <partial name="PartialView/_DeleteDetailsPartialvVew" />
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
      <input asp-for="CreateAt" class="form-control"/>
    
    </div>
    <div>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-light">Back to list </a>
    </div>
</form>