@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<br />
<br />

<form asp-action="Details">
     <partial name="PartialView/_DeleteDetailsPartialvVew" />
    <div>
        <input type="submit" value="Edit"asp-action="Edit" class="btn btn-warning"/>
        <a asp-action="Index" class="btn btn-light">Back to list </a>
    </div>
</form>
