@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<br />
<br />

<form asp-action="Details">
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
      <input  class="form-control" value="@Model.Code" readonly/>
      <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
     <input  class="form-control" value="@Model.Name" readonly/>
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="CrateAt" class="col-form-label"></label>
      <input  class="form-control" value="@Model.CrateAt" readonly/>
      <span asp-validation-for="CrateAt" class="text-danger" ></span>
    </div>
    <div>
        <input type="submit" value="Edit"asp-action="Edit" class="btn btn-warning"/>
        <a asp-action="Index" class="btn btn-light">Back to list </a>
    </div>
</form>

