
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>All Department</h1>

<br  />
<br  />

<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create Department</a>

<br />
<br />
@if (Model.Count()> 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Data Of creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Code</th>
                    <th>@item.Name</th>
                    <th>@item.CrateAt</th>
           <partial name="_EmpDeptView" model="@item.Id" />
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="mt-4 alert alert-info"> 
        <h4>
            There Are No Department :(
        </h4>
    </div>
}


